#Cryptographie

CRYPT_EMAIL="!a(M>c3@cKlEPf23sl7^][R]<>6Eol3GwZz{%Y&{-duj)VN7sV!a|9A;EJeQ"

# Set ACCESS_CONTROL_BY_ADMIN to 'true' and admin will have to create an inactived user account for each user.
ACCESS_CONTROL_BY_ADMIN='false' 

ELASTIC_EMAIL_API_KEY=''

ADMIN_EMAIL='groupomania.rs@gmail.com'